<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ThaitaeConnection" connectionString="Data Source=www.thaitaesc.com;Initial Catalog=thaitaeDB;Persist Security Info=True;User ID=thaitae;Password=p@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="thaitae.lib.Properties.Settings.ThaitaeConnection"
      connectionString="Data Source=www.thaitaesc.com;Integrated Security=false;Initial Catalog=thaitaeDB;Persist Security Info=True;User ID=thaitae;Password=p@ssw0rd ;Application Name=Thaitae" />
    <add name="thaitae.lib.Properties.Settings.ThaitaeConnectionString1"
      connectionString="Data Source=www.thaitaesc.com;Initial Catalog=thaitaeDB;Persist Security Info=True;User ID=thaitae"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>