<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="thaitae.lib.Properties.Settings.ThaitaeConnectionString"
            connectionString="Data Source=www.diygang.com;Initial Catalog=Thaitae;User ID=tamujin;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>