body
{
    background: url("../Images/Green-Background.jpg") repeat !important;
    background-color: black;
    width: 100%;
    margin: 0;
}

#MainContanter
{
    background-color: rgb(74, 81, 85);
    color: white;
    margin: 15px auto auto auto;
    padding: 0 0;
    width: 1000px;
    height: 100%;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

.IconValidation
{
    color: Red;
    padding-left: 17px;
    background: url("/images/icon/Validation-Icon.png");
    background-position: left top;
    background-repeat: no-repeat;
}
.LoginHeader
{
    color: white;
}

#ui-datepicker-div
{
    z-index: 999 !important;
}