body
{
    background: url(/images/Green-Background.jpg) repeat;
    margin: 0;
}

#MainContanter
{
    margin: 15px auto auto auto;
    width: 1000px;
    background: white !important;
    height: 100%;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

.IconValidation
{
    color: Red;
    padding-left: 17px;
    background: url("/images/icon/Validation-Icon.png");
    background-position: left top;
    background-repeat: no-repeat;
}
.LoginHeader
{
    color: white;
}