<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="newsFolderPath" value="NewsImages"></add>
    <add key="leagueFolderPath" value="LeagueImages"></add>
    <add key="BackendUrl" value="http://www.thaitaesc.com/backend"></add>
    <add key="ServerNewsPath" value="/NewsImages/"></add>
    <add key="ServerLeaguePath" value="/LeagueImages/"></add>
  </appSettings>
  <connectionStrings>
    <add name="ThaitaeConnection" connectionString="Data Source=localhost;Integrated Security=false;Initial Catalog=thaitaeDB;Persist Security Info=True;User ID=thaitae;Password=p@ssw0rd ;Application Name=Thaitae" providerName="System.Data.SqlClient" />
    <!--<add name="ThaitaeConnection" connectionString="Data Source=allium.arvixe.com;Integrated Security=false;Initial Catalog=thaitaeDB;Persist Security Info=True;User ID=thaitae;Password=p@ssw0rd ;Application Name=Thaitae" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>